@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  --color-primary: #0033a0;
  --color-primary-dark: #00287a;
  --color-primary-btn: #143477;
  --color-primary-btn-hover: #0f265e;
  --color-sidebar-bg: #f8f9fa;
  --color-sidebar-active: #ebf0fc;
  --color-sidebar-border: #bed2fa;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

.dark body {
  background: var(--background);
  color: var(--foreground);
}
