@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

.dark body {
  background: var(--background);
  color: var(--foreground);
}

.ant-layout-header {
  background-color: #e0ecf7;
}

.dark .ant-layout-header {
  background-color: #1f2937;
}

.ant-layout-sider, .ant-menu {
  background-color: #e0ecf7;
  height: 90vh;
}

.dark .ant-layout-sider,
.dark .ant-menu {
  background-color: #1f2937;
}
